[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "datamedios"]
	path = datamedios
	url = https://github.com/socialtec-cl/datamedios
